go 1.26.1

use (
	./services/auth-api
	./services/fiszki-api
	./services/internal/authn
	./services/internal/database
	./services/internal/jwtutil
	./services/monolith-api
	./services/monolith-drop-api
	./services/monolith-stream-api
	./services/signaling-api
)
